################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NaiveBayes/v16/ipch/AutoPCH/31ca6f2d0f60e5bc
